<template>
  <section class="bg-black">
    <div class="container-fluid p-0 m-0">
      <SecondaryHeader />
      <div class="container mt-4">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-6">
            <elearningPDF />
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="row w-100 no-gutters d-flex justify-content-center mt-5">
          <div class="col-xl-4 col-lg-6 col-sm-6 col-12 p-3">
            <elearningQuestions />
          </div>
        </div>
      </div>

      <ramadan-section></ramadan-section>
    </div>
  </section>
</template>

<script>
import elearningPDF from "./elearningPDF.vue";
import elearningQuestions from "./elearningQuestions.vue";
import SecondaryHeader from "../SecondaryHeader.vue";
import ramadanSection from "../ramadanSection.vue";

export default {
  components: {
    elearningPDF,
    elearningQuestions,
    SecondaryHeader,
    ramadanSection
  }
};
</script>

<style scoped>

</style>
