<template>
  <div class="questions">
    <div v-for="questData in questionsData" :key="questData.id" class="sub-answer">
      <div class="subject-data p-3">
        <h4>{{ questData.title }}</h4>
        <hr />
      </div>
      <div class="answer-data">
        <form>
          <label v-for="answer in questData.answers" :key="answer.id">
            <input type="radio" name="answer_id" />
            <span>{{ answer.answer }}</span>
          </label>
          <br />
          <div class="form-group mb-0">
            <a type="submit" class="btn btn-orange answer-btn">SUBMIT</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { store } from "../../store/index.js";

export default {
  data() {
    return {
      questionsData: {},
      answer: {}
    };
  },
  methods: {
    getAllQuestions() {
      let token = store.getters.getUserInfo;
      axios
        .get("http://ramadan-iftar.cat-sw.com/api/e-learning", {
          headers: { Authorization: "Bearer " + token.access_token }
        })
        .then(response => {
          this.questionsData = response.data.data;
          console.log(JSON.stringify(this.questionsData));
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.getAllQuestions();
  }
};
</script>

<style scoped>
.questions {
  color: white;
}
.answer-data label {
  display: -webkit-box;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.answer-btn {
  width: 100%;
  border-radius: 0px;
  height: 55px;
}
.btn-orange {
  background-color: #fb5f00;
  border-color: #fb5f00;
  color: #fff;
  font-weight: 500;
}
.answer-data label input {
  position: absolute;
  left: -9999px;
}
.answer-data label span {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  width: 100%;
  background-color: #333333;
}
.answer-data label span:before {
  display: -webkit-box;
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #1b1b1b;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #1b1b1b;
}
</style>