<template>
  <div>
    <div class="reg">
      <div class="register-data">
        <a
          class="btn btn-orange answer-btn mb-3"
          href="https://dcgedownload.lenovo.com/lgpe/SCORMParentPage.html?instanceUrl=https://lenovoemea.my.salesforce.com&amp;sessionId=00Dd0000000dz2o!AR4AQEeKOvBQOpDEk8eqISsAbgk6eSdgV5mk7aK2xRAGnLjtxknexe5mGtUifX_Jn7KMezCXkqcUnVVr0pLniTnm_EXmql01&amp;myCourseId=a2r0X000002mC4wQAE&amp;scormUrl=https://dcgedownload.lenovo.com/lgpe/OPSW113/EEN/CourseFiles/index_lms.html"
          target="_blank"
        >Introduction to Lenovo Products for SMB</a>
        <a
          class="btn btn-orange answer-btn mb-3"
          href="https://dcgedownload.lenovo.com/lgpe/SCORMParentPage.html?instanceUrl=https://lenovoemea.my.salesforce.com&amp;sessionId=00Dd0000000dz2o!AR4AQEeKOvBQOpDEk8eqISsAbgk6eSdgV5mk7aK2xRAGnLjtxknexe5mGtUifX_Jn7KMezCXkqcUnVVr0pLniTnm_EXmql01&amp;myCourseId=a2r0X000002mCEbQAM&amp;scormUrl=https://dcgedownload.lenovo.com/lgpe/STBW001/EEN/CourseFiles/index_lms.html"
          target="_blank"
        >ThinkBook Portfolio</a>
        <a
          class="btn btn-orange answer-btn mb-3"
          href="https://dcgedownload.lenovo.com/lgpe/SCORMParentPage.html?instanceUrl=https://lenovoemea.my.salesforce.com&amp;sessionId=00Dd0000000dz2o!AR4AQEeKOvBQOpDEk8eqISsAbgk6eSdgV5mk7aK2xRAGnLjtxknexe5mGtUifX_Jn7KMezCXkqcUnVVr0pLniTnm_EXmql01&amp;myCourseId=a2r0X000002mCTXQA2&amp;scormUrl=https://dcgedownload.lenovo.com/lgpe/PTSW120/EEN/CourseFiles/index_lms.html"
          target="_blank"
        >Workstation P Series Portfolio</a>
        <a
          class="btn btn-orange answer-btn mb-3"
          href="https://dcgedownload.lenovo.com/lgpe/SCORMParentPage.html?instanceUrl=https://lenovoemea.my.salesforce.com&amp;sessionId=00Dd0000000dz2o!AR4AQEeKOvBQOpDEk8eqISsAbgk6eSdgV5mk7aK2xRAGnLjtxknexe5mGtUifX_Jn7KMezCXkqcUnVVr0pLniTnm_EXmql01&amp;myCourseId=a2r0X000002mIfYQAU&amp;scormUrl=https://dcgedownload.lenovo.com/lgpe/SSCW001/EEN/CourseFiles/index_lms.html"
          target="_blank"
        >What is ThinkShield?</a>
        <a
          class="btn btn-orange answer-btn mb-3"
          href="https://dcgedownload.lenovo.com/lgpe/SCORMParentPage.html?instanceUrl=https://lenovoemea.my.salesforce.com&amp;sessionId=00Dd0000000dz2o!AR4AQIq1gCfnb.i44gHJ9fwhqKOLjLlZNfxtystRbl3eoR9H8bt1.F6Ryrkvm2gfF1bcP8aM_mLZKEs6jwiXgN0wGQCcN9zq&amp;myCourseId=a2r0X000002mIfxQAE&amp;scormUrl=https://dcgedownload.lenovo.com/lgpe/STCW051/EEN/CourseFiles/index_lms.html"
          target="_blank"
        >Introduction to the Nano IoT</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  components: {}
};
</script>

<style scoped>
.answer-btn {
    width: 100%;
    border-radius: 0px;
    height: 55px;
}
.btn-orange {
    background-color: #FB5F00;
    border-color: #FB5F00;
    color: #fff;
    font-weight: 500;
}
</style>
