<template>
  <div class="bg-black middle-section">
    <SecondaryHeader />
    <div class="d-lg-block d-xl-block">
      <div class="row no-gutters d-flex justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-4">
          <profile-form></profile-form>
        </div>
      </div>
    </div>
    <ramadan-section></ramadan-section>
  </div>
</template>

<script>
import profileForm from "./profileForm.vue";
import SecondaryHeader from "../SecondaryHeader.vue";
import ramadanSection from "../ramadanSection.vue";

export default {
  components: {
    profileForm,
    SecondaryHeader,
    ramadanSection
  }
};
</script>

<style scoped>
</style>
