<template>
  <div>
    <section class="bg-black middle-section">
      <SecondaryHeader />
      <div class="d-lg-block d-xl-block">
        <div class="row no-gutters d-flex justify-content-center">
          <howToParticipateContent />
        </div>
      </div>
      <ramadan-section></ramadan-section>
    </section>
  </div>
</template>

<script>
import SecondaryHeader from "../SecondaryHeader.vue";
import ramadanSection from "../ramadanSection.vue";
import howToParticipateContent from "./howToParticipateContent.vue";
export default {
  components: {
    SecondaryHeader,
    ramadanSection,
    howToParticipateContent
  }
};
</script>

<style scoped>
</style>
