<template>
  <section class="bg-black">
    <div class="container-fluid p-0 m-0">
      <SecondaryHeader />
      <div class="container mt-4">
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-6">
            <div class="reg">
              <div class="register-data">
                <iframe
                  id="player"
                  frameborder="0"
                  allowfullscreen="1"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  title="YouTube video player"
                  width="640"
                  height="390"
                  src="https://www.youtube.com/embed/_4F66eLBw48?enablejsapi=1&amp;origin=http%3A%2F%2Framadan-iftar.cat-sw.com&amp;widgetid=1"
                ></iframe>
                <div class="doc-video">Info Video</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <div class="activity-c">
            <h1>
              <strong>activities</strong>
            </h1>
          </div>
        </div>

        <div class="row w-100 no-gutters d-flex justify-content-center mt-5">
          <div class="col-xl-4 col-lg-6 col-sm-6 col-12 p-3">
            <videosQuestions />
          </div>
        </div>
      </div>

      <ramadan-section></ramadan-section>
    </div>
  </section>

</template>

<script>
import videosQuestions from "./videosQuestions.vue";
import SecondaryHeader from "../SecondaryHeader.vue";
import ramadanSection from "../ramadanSection.vue";
import axios from "axios";
import { store } from "../../store/index.js";

export default {
  components: {
    videosQuestions,
    SecondaryHeader,
    ramadanSection
  },
  data() {
    return {
      allVideos:{}
    };
  },
  methods: {
    getVideo() {
      let token = store.getters.getUserInfo;
      axios
        .get("http://ramadan-iftar.cat-sw.com/api/videos", {
          headers: { Authorization: "Bearer " + token.access_token }
        })
        .then(response => {
          this.allVideos = response.data.data;
          console.log(JSON.stringify(this.allVideos));
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    this.getVideo();
  }
};
</script>

<style scoped>
.doc-video {
    padding: 16px;
    background-color: #fb5f00;
    color: white;
}
.activity-c {
    background-color: #fff;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 100px;
}
</style>
