<template>
  <div class="activities">
    <b-container>
      <b-row>
        <b-col cols="12">
          <div class="activities-c">
            <h1>
              <strong>Activities</strong>
            </h1>
            <hr />
            <p>Enjoy with Lenovo activities offered and compete</p>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.activities {
  background-color: #4c4c4c;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}
.activities p {
  font-size: 40px;
  font-weight: 100;
}
</style>
