<template>
  <div>
    <section class="agenda">
      <b-container>
        <b-row>
          <b-col cols="12">
            <div>
              <h1>
                <strong>Agenda</strong>
              </h1>
              <hr />
              <b-row>
                <b-col lg="4" sm="12">
                  <div class="time-agenda text-right p-2">
                    <h3>1:00 – 1:10</h3>
                  </div>
                </b-col>
                <b-col  lg="8" sm="12">
                  <div class="p-2 text-left">
                    <h3>
                      <strong>Welcome note</strong>
                    </h3>
                  </div>
                </b-col>
                <b-col  lg="4" sm="12">
                  <div class="time-agenda text-right p-2">
                    <h3>1:10 – 1:45</h3>
                  </div>
                </b-col>
                <b-col  lg="8" sm="12">
                  <div class="p-2 text-left">
                    <h3>
                      <strong>Webinar – Training – Product Enablement</strong>
                      <br />Abdullatif Badawi
                    </h3>
                  </div>
                </b-col>
                <b-col  lg="4" sm="12">
                  <div class="time-agenda text-right p-2">
                    <h3>1:45 – 2:15</h3>
                  </div>
                </b-col>
                <b-col  lg="8" sm="12">
                  <div class="p-2 text-left">
                    <h3>
                      <strong>Kahoot Activity</strong>
                    </h3>
                  </div>
                </b-col>
                <b-col  lg="4" sm="12">
                  <div class="time-agenda text-right p-2">
                    <h3>2:15 – 2:30</h3>
                  </div>
                </b-col>
                <b-col  lg="8" sm="12">
                  <div class="p-2 text-left">
                    <h3>
                      <strong>Incentive announcement and closing</strong>
                    </h3>
                  </div>
                </b-col>
              </b-row>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.agenda{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000;
    text-align: center;
}
h1 strong {
    text-align: center;
    margin: auto;
    display: block;
}
</style>
