<template>
  <div>
    <section class="bg-black middle-section">
      <SecondaryHeader />
      <middleContent />
      <div class="d-none d-sm-none d-md-none d-lg-block d-xl-block">
        <div class="row no-gutters d-flex justify-content-end">
          <signup-form></signup-form>
        </div>
      </div>
      <ramadan-section></ramadan-section>
    </section>
    <why-participate></why-participate>
    <speaker />
    <agenda />
    <activities />
  </div>
</template>

<script>
import whyParticipate from "./whyParticipate.vue";
import speaker from "./speaker.vue";
import middleContent from "./middleContent.vue";
import agenda from "./agenda.vue";
import activities from "./activities.vue";
import SecondaryHeader from "../SecondaryHeader.vue";
import signupForm from "../Signup/signupForm.vue";
import ramadanSection from "../ramadanSection.vue";

export default {
  components: {
    whyParticipate,
    speaker,
    agenda,
    activities,
    SecondaryHeader,
    middleContent,
    signupForm,
    ramadanSection
  }
};
</script>

<style scoped>
</style>
