<template>
  <div class="login">
    <div class="reg">
      <div class="register-data">
        <div class="reg-container">
          <h1 class="text-center">
            <strong>Login Account</strong>
          </h1>
          <br />
          <form>
            <div class="row no-gutters">
              <div class="col-sm-12 col-12">
                <div class="form-group p-1">
                  <div class="input-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      v-model="user.email"
                      value
                      placeholder="Email Address"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-12">
                <div class="form-group p-1">
                  <div class="input-group">
                    <input
                      v-model="user.password"
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Password"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group text-center">
              <a type="submit" class="btn btn-orange w-100" @click="login()">Login Account</a>
            </div>
            <div class="form-group">
              <a
                class="btn btn-gray w-100 c-n"
                @click="register()"
              >Create New Account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { store } from "../../store/index.js"
export default {
  data() {
    return {
      user: {}
    };
  },
  methods: {
    login() {
      axios
        .post("http://ramadan-iftar.cat-sw.com/api/auth/login", this.user)
        .then(response => {
          store.commit("SET_LOGGED_USER", response.data);
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    },
    register(){
      this.$router.push("signUp");
    }
  }
};
</script>

<style scoped>
.reg-container {
  padding: 2%;
  background-color: #3b3b3b;
  border-bottom: 10px solid #fb5f00;
}
.btn-orange {
  background-color: #fb5f00;
  border-color: #fb5f00;
  color: #fff;
  font-weight: 500;
}
h1,
.btn-gray,
.custom-control-label {
  color: white;
}
</style>
